<!doctype html>
<html lang = "en">
<head>
	<title>fraise - learn conversational French</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/lesson.js"></script>
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/fraise.css" rel="stylesheet">
	{{> google_analytics}}
</head>
<body>

	<div class="navbar">
		<a href="../index" class="left"><img src="../images/back.png"></a>
		<a href="#" class="left nav-item help" id="lessonHelp"><img src="../images/help.png"></a>
		<a href="../profile" id="logout-link"><img src="../images/profile.png" id="logout-img"></a>
		<a href="../favorites"><img src="../images/heart.png"></a>
	</div>

	<div class = "lessonName"><h4 class="text-center" id="topicName"></h4></div>

	<div class = "container" id="lesson-header">
	<br>
	<div class="topic-row">
		<!-- TODO: change the attribute href for the below depending on topic rendered. -->
		<a id="practiceButton" href="practice/help"><button type="button" class="btn btn-primary btn-block btn-lesson">Practice</button></a>
	</div>
	<div class="topic-row">
		<a id="quizButton" href="quiz/help"><button type="button" class="btn btn-primary btn-block btn-lesson">Quiz</button></a>
	</div>
	<br>
	</div>
	<hr>


	<div class = "container" id="lesson-body">
	{{#each phrases}}
	<div class="phrase-pair">
		<div class="column column-phrase">
			<p class="english" id="english{{@index}}">{{english}}</p>
			<br>
			<p class="french" id="french{{@index}}">{{french}}</p> <hr>
		</div>
		<div class="column column-icon">
			<p><span class="frenchtoggle"><img src="../images/dotdot.png"></span></p><br>
			<p><span class="glyphicon glyphicon-heart-empty" id="heart{{@index}}"></span></p> <hr>
		</div>
	</div>
	<br>
	<hr>
	<br>
	{{/each}}

	
	</div>
</div>
</body>
</html>
